@import "Assets/styles/_variables.scss";

.about-container {
  @include flex($direction: row, $justify: flex-start, $align: flex-start);
  .about-info {
    flex: 0.5;
    font-family: futura-pt, sans-serif;
    p {
      max-width: 50rem;
      width: 35rem;
      line-height: 1.5rem;
      color: $f-gray-2;
    }
    h1 {
      margin-top: 0;
      margin-bottom: 2rem;
      font-size: 8rem;
      line-height: 8rem;
    }
  }
  .about-us {
    flex: 0.5;
    margin-top: 2rem;
    @include for-mobile {
      width: 100%;
      margin-top: 4rem;
    }
    .about-us-line {
      @include flex($direction: row, $justify: center, $align: center);
      .person-container {
        min-width: 10rem;
        text-align: center;
        width: 12rem;
        margin: 0 2rem;
        font-weight: 300;
        img {
          width: 100%;
        }
      }

      @include for-mobile {
        flex-direction: column;
        width: 100%;
        .person-container {
          margin: 2rem;
        }
      }
    }
  }
  @include for-mobile {
    width: 90%;
    flex-direction: column;
    margin: 2rem;
    .about-info {
      h1 {
        font-size: 4rem;
      }
      p {
        width: 100%;
      }
    }
  }
}
