@import "Assets/styles/_variables.scss";

.f-link-button {
  padding: 0 0.8rem;
  width: 9rem;
  min-height: 2rem;
  margin: 0;
  box-sizing: border-box;

  color: white;

  font-size: 0.8rem;
  line-height: 2rem;

  cursor: pointer;
  text-align: center;
  outline: none;
  text-decoration: none;

  border: none;
}
